<h1>» Anuncios Medievales</h1>
<hr id="spacer"/>
<% @posts.each do |post| %>
  <p class="well">
    <h3><%= post.title %></h3>
    <%= link_to "Leer", post_path(post), class: "btn btn-dark" %>
  </p>
  <hr/>
<% end %>
