<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Rules
        <small>Last Updated <%= RulesHelper::LAST_UPDATED %></small>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="label label-warning">Note</span>
        <span></span>
        These rules apply to
        <b>all</b>
        ElMedievo Services.
      </div>
    </div>
    <div class="page-header">
      <h2>A. General Composure</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Maintain a pleasant, casual atmosphere. Be respectful and use common sense. Excessive swearing, rudeness and harassment is not tolerated.</li>
          <li>Do not spam.</li>
          <li>Do not link to any of the following:</li>
          <ol type="a">
            <li>Objectionable material, which includes but is not limited to pornography, "shock sites", viruses, phishing sites and hate groups.</li>
            <li>Other websites or servers in a manner that constitutes advertising.</li>
            <li>Personal identifying information of other users.</li>
          </ol>
          <li>Do not encourage or partake in rule breaking on ElMedievo services.</li>
          <li>Do not impersonate any member of the ElMedievo staff, or claim to be a staff member.</li>
          <li>Report issues or bugs of ElMedievo services to github or via private messages on Discord; exploitation of bugs for any reason other than to demonstrate at the request of a staff member will result in a punishment.</li>
          <li>Follow any directions given by a ElMedievo staff member.</li>
          <span class="label label-warning">Note</span>
          <small>If you are concerned about links that may constitute advertising, please clarify with a staff member before posting.</small>
        </ol>
      </div>
    </div>
    <div class="page-header">
      <h2>B. Discord</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>You must comply with <a href="https://discord.com/terms">Discord's TOS</a>.</li>
          <li>Keep a calm atmosphere at all times.</li>
          <li>Doxing or molesting other users persistently is not allowed.</li>
          <li>Stay on-topic within text channels.</li>
        </ol>
      </div>
    </div>
    <div class="page-header">
      <h2>C. Server Behavior</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Be a gentleman.</li>
          <li>Do not spam or flood the chat.</li>
          <li>Harassing other users is not tolerated.</li>
          <li>Respect other users's honor claim on lands they decide to settle in. If a problem were to arise, resolve it in a civil manner.</li>
          <li>Do not build farms or mechanisms of any kind for the sole purpose of lagging the server. If your contraption happens to lag the server as a side effect to its real purpose, try to optimize it.</li>
          <li>We will value users's intentions over problems, just make sure to lay your case in a respectful manner so that the staff team can help you</li>
        </ol>
      </div>
    </div>
    <div class="page-header">
      <h2>D. Client Modifications</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Any client modifications that give an unfair advantage over vanilla Minecraft users are illegal while playing.</li>
          <li>Any external tools that modify gameplay to give an unfair advantage over users not using the tool are illegal while playing.</li>
          <li>The following modifications are explicitly permitted during gameplay:</li>
          <ul class="unstyled">
            <li>
              <i class="fa fa-check"></i>
              Optifine
            </li>
            <li>
              <i class="fa fa-check"></i>
              Resource packs that do not fall under any "explicitly prohibited" category
            </li>
            <li>
              <i class="fa fa-check"></i>
              Minimaps except as specified below
            </li>
          </ul>
          <li>The following modifications are explicitly prohibited during gameplay:</li>
          <ul class="unstyled">
            <li>
              <i class="fa fa-times"></i>
              Inventory Sorters
            </li>
            <li>
              <i class="fa fa-times"></i>
              Mods that expose or enlarge the name-tags of players
            </li>
            <li>
              <i class="fa fa-times"></i>
              Automatic tool selectors
            </li>
            <li>
              <i class="fa fa-times"></i>
              Minimaps that show entity positions, or show caves/underground.
            </li>
            <li>
              <i class="fa fa-times"></i>
              X-rays
            </li>
            <li>
              <i class="fa fa-times"></i>
              Auto-hitters
            </li>
            <li>
              <i class="fa fa-times"></i>
              Aimbots
            </li>
            <li>
              <i class="fa fa-times"></i>
              Fly mods
            </li>
            <li>
              <i class="fa fa-times"></i>
              Damage/Health Indicator
            </li>
            <li>
              <i class="fa fa-times"></i>
              SmartMoving
            </li>
            <li>
              <i class="fa fa-times"></i>
              Better Sprinting
            </li>
          </ul>
          <li>For any other mods, email support@oc.tc for confirmation before using it.</li>
          <span class="label label-warning">Note</span>
          <small>Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.</small>
          <br>
          <span class="label label-warning">Note</span>
          <small>Observers are not bound to these restrictions.</small>
          <br>
          <span class="label label-warning">Note</span>
          <small>Players in the lobby are not allowed to use fly modifications.</small>
        </ol>
      </div>
    </div>
    <div class="page-header">
      <h2>E. Consequences</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Players may receive an in game warning or an infraction for breaking any of the rules above, depending on the severity of the violation.</li>
          <li>The severity of the infraction is usually based on the player’s previous infractions.</li>
          <li>In particularly serious or blatant cases of rules violation, including but not limited to using a hacking client on the server will result in an immediate permanent ban, without warning.</li>
          <li>Players with many warnings for the same rule may be temporarily banned without notice.</li>
          <li>Ban evasion is not permitted and will result in a permanent ban for all alternate accounts associated with the evading player. The alternate accounts will not be unbanned once the original ban expired, and the original ban may be extended up to thrice the length of the original ban. (e.g. 1 week ban becomes up to a 3 week ban).</li>
          <li>Persistent ban evasion will result in a permanent ban for all accounts.</li>
          <li>Players violating the rules on any ElMedievo service, including the game servers, the forums, and Mumble, may be banned from any or all of the services.</li>
          <li>All infractions may be appealed by filing an appeal.</li>
          <li>
            <b>Any player that knowingly gives false info in his or her appeal may be permanently banned.</b>
          </li>
          <span class="label label-warning">Note</span>
          <small>All infractions are subject to staff discretion.</small>
        </ol>
      </div>
    </div>
    <div class="page-header">
      <h2>F. Miscellaneous</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>These rules are subject to change without notice.</li>
          <li>Players are responsible for keeping up with rule changes.</li>
          <li>There is a one week grace period for rule changes.</li>
          <li>The ElMedievo Administration reserves the right to ban or unban any player from any ElMedievo services for any reason without notice.</li>
        </ol>
      </div>
    </div>
  </section>
</div>
