<div class="main-banner">
  <div class="container">
    <div class="flash" style="margin-top: 75px;">
    </div>
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= image_tag "logo.png", :class => "splash-logo", :style => "margin-top: 20px; margin-left: 5px;" %>
      </div>
      <div class="col-md-1 col-lg-1" style="width: 0 !important;">
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="masthead main">
          <h1>ElMedievo</h1>
          <a class="btn btn-success ip">
            <label>
              <input onClick="this.select(); document.execCommand('copy');" readonly="<%= true %>" type="text" value="us.elmedievo.org"/>
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flash" style="margin-top: 40px;">
</div>

